.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 952px;
  margin-bottom: 100px;
}

.formValues {
  display: flex;
  flex-direction: row;
}

.formIndex {
  display: flex;
  flex-direction: row;
}

.inputValues {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12px;
  width: 204px;
}

.inputIndex {
  width: 204px;
  margin-right: 12px;
}

.inputWidth {
  width: 204px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mr12 {
  margin-right: 12px;
  width: 175px;
}

.indexButtonWidth {
  width: 362px;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 477px;
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 600px;
}

.arrow {
  margin: 0 12px;
}
