.sorting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  margin-bottom: 120px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: baseline;
}

.radioInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.radioInput_margin {
  margin-right: 40px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mr12 {
  margin-right: 12px;
}

.mr80 {
  margin-right: 80px;
}

.circle {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  grid-row-gap: 35px;
  grid-column-gap: 10px;
}
